<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
   
    <form name="address" action="/address" method="post">
        <h1>ADD Address Page</h1>

        <label for="address">Address:</label><br>
        <input type="text" id="address" name="address" placeholder="Enter Your Address.."><br>

        <label for="city">City:</label><br> 
        <input type="text" id="city" name="city" placeholder="Enter Your city.."><br>

        

        <label for="country">country:</label><br>
        <input type="text" id="country" name="country" placeholder="Enter Your country.."><br>


        <input type="submit" placeholder="Submit">
    </form>

    
    <br>
    <br>
    <h1>Get Product Details</h1>
    <form action="/show_product" method="get">
        Get Product Details<input type="submit" placeholder="Submit">

    </form>

    <!-- private Integer address_id;
    private String address;
    private String city;
    private String country; -->
   

  
 
    
</body>
</html>