<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
   
    <title>SignUp/login</title>
</head>
<body>
    <form name="index" action="/createuser" method="post" class="login-form">
        <h1>Login Page</h1>

        <label for="username">Username</label><br>
        <input type="text" id="username" name="username" placeholder="Enter Your name.."><br>

        <label for="email">Email</label><br> 
        <input type="text" id="email" name="email" placeholder="Enter Your Email.."><br>

        

        <label for="password">Password</label><br>
        <input type="text" id="password" name="password" placeholder="Enter Your Password.."><br>

        <!-- <label for="password">Password</label><br>
        <input type="password" id="password" name="password" placeholder="Password"><br> <br>  -->

        <input type="submit" placeholder="Submit">
    </form>

    <!-- <button > -->
       

    <!-- </button> -->


    
</body>
</html>
</html>