<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="showproduct.css">
    <title>Order Properties</title>
    
</head>
<body>
    <h1>Order Properties</h1>
    <p>This page displays the properties of an order:</p>

    <div th:each="display:${myreg}">
        
        <strong><p th:text="'Product  name is  :'+${display.product_name}"></p></strong>
        <strong><p th:text="'Product  description is  :'+${display.description}"></p></strong>
        <strong><p th:text="'Product  price  is  :'+${display.price}"></p></strong>
        *****************************************************************************
      
        <br>
       
        
    </div>
    <form name="address" action="/address" method="post" class="login-form">
        <h1>ADD Address Page</h1>

        <label for="address">Address:</label><br>
        <input type="text" id="address" name="address" placeholder="Enter Your Address.."><br>

        <label for="city">City:</label><br> 
        <input type="text" id="city" name="city" placeholder="Enter Your city.."><br>

        

        <label for="country">country:</label><br>
        <input type="text" id="country" name="country" placeholder="Enter Your country.."><br>


        <input type="submit" placeholder="Submit">
    </form>
    

    



   
</body>
</html>
